js/products.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT product (s)+>
<!ATTLIST product
  xmlns CDATA #FIXED ''>

<!ELEMENT s (name,id,price)>
<!ATTLIST s
  xmlns CDATA #FIXED ''>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  xmlns CDATA #FIXED ''>

<!ELEMENT id (#PCDATA)>
<!ATTLIST id
  xmlns CDATA #FIXED ''>

<!ELEMENT price (#PCDATA)>
<!ATTLIST price
  xmlns CDATA #FIXED ''>
